.country-card {
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 0 #000;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.country-card-body {
    padding: 10px;
    font-size: 1em;
}

.country-card.light {
    background-color: #f8f9fa;
    color: #000000;
}

.country-card.dark {
    background-color: #343a40;
    color: #ffffff;
}

.country-card-body.light {
    background-color: #f8f9fa;
    color: #000000;
}

.country-card-body.dark {
    background-color: #343a40;
    color: #ffffff;
}