.local-dish-card.light {
    background-color: #f8f9fa;
    color: #000000;
}

.local-dish-card.dark {
    background-color: #343a40;
    color: #ffffff;
}

.local-dish-card .card-header.light {
    background-color: #f8f9fa;
    color: #000000;
}

.local-dish-card .card-header.dark {
    background-color: #343a40;
    color: #ffffff;
}

.list-group-item.light {
    background-color: #f8f9fa;
    color: #000000;
}

.list-group-item.dark {
    background-color: #343a40;
    color: #ffffff;
}

.local-dish-image {
    width: 100%;
    height: auto;
}

.local-dish-card {
    border: 2px solid #000;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 0 #000;
    background-color: #ff0;
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid #000;
}

.local-dish-card-body {
    padding: 10px;
    font-size: 1em;
}