body {
    font-family: 'MingLiu', sans-serif;
    padding-top: 20px;
}

body.light-mode {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

.country-card.light, .local-news-card.light, .list-group-item.light {
    background-color: white;
    color: black;
}

.country-card.dark, .local-news-card.dark {
    background-color: #333;
    color: white;
}

.list-group-item.dark {
    background-color: #454545;
    color: white;
}

/* Custom cursors for different states */
* {
    cursor: url('assets/cruelty-squad.gif');
}